{% include 'manager/inc/head.html' %}
{% include 'manager/inc/top.html' %}
{% include 'manager/inc/left.html' %}


<div id="grid"></div>

<script id="popup_editor" type="text/x-kendo-template">

            <div class="k-edit-label w-800-l">
                <label for="Id">管理员Id</label>
            </div>
            <div data-container-for="Id" class="k-edit-field w-800-r"  data-bind="value:Id">
                <input type="text" class="k-input k-textbox w-50-inp" name="Id" data-bind="value:Id" readonly="readonly">
            </div>


            <div class="k-edit-label  w-800-l">
                <label for="admin" >管理员</label>
            </div>
            <div data-container-for="admin" class="k-edit-field w-800-r">
               <input type="text" id="admin" class="k-input k-textbox w-50-inp" name="admin" data-bind="value:admin">
            </div>

            <div class="k-edit-label  w-800-l">
                <label for="password" >密码</label>
            </div>
            <div data-container-for="password" class="k-edit-field w-800-r">
               <input type="text" class="k-input k-textbox w-50-inp" name="password" data-bind="value:password" required="required" maxlength="30">
            </div>

            <div class="k-edit-label  w-800-l">
                <label for="avatar">图片</label>
            </div>
            <div data-container-for="avatar" class="k-edit-field w-800-r">
                <input type="file" name="upload_file" id="upload_file">
                 <input type="text"  class="k-input k-textbox" style="display:none;" id="appPicture_inp" name="avatar" data-bind="value:avatar">
            </div>


            <div class="k-edit-label  w-800-l">
                <label for="tips" >备注</label>
            </div>
            <div data-container-for="tips" class="k-edit-field w-800-r">
               <textarea id="intro" type="text" class="k-input k-textbox w-90-inp" name="tips" data-bind="value:tips"></textarea>
            </div>

            <div class="k-edit-label  w-800-l">
                <label for="roles" >包括角色</label>
            </div>
            <div data-container-for="roles" class="k-edit-field w-800-r">
                <input type="text" class="k-input k-textbox w-50-inp" id="roles_inp" name="roles"  data-bind="value:roles" >
                <input type="hidden" id="roles" class="k-input k-textbox w-50-inp" data-bind="value:roles" >
            </div>

            <div class="k-edit-label  w-800-l">
                <label for="isShow">是否启用</label>
            </div>
            <div data-container-for="isShow" class="k-edit-field w-800-r">
               <input type="text" id="isShow_inp" class="k-input k-textbox" name="isShow" data-bind="value:isShow" >
            </div>

            <div class="k-edit-label  w-800-l">
                <label for="updateTime">更新日期</label>
            </div>
            <div data-container-for="writeTime" class="k-edit-field w-800-r">
               <input type="text" id="updateTime" class="k-input k-textbox " name="updateTime" data-bind="value:updateTime" readonly="readonly">
            </div>

            <div class="k-edit-label  w-800-l">
                <label for="writeTime">创建日期</label>
            </div>
            <div data-container-for="writeTime" class="k-edit-field w-800-r">
               <input type="text" id="writeTime" class="k-input k-textbox " name="writeTime" data-bind="value:writeTime">
            </div>



        </script>








<script>
    window.allRoleList = []
    $.post('/role/read', {skip:0, page:1, pageSize:99999}, function(d){
        window.allRoleList = d.Data

    }, 'json')
 $(function () {

                var DataHost = window.DataHost,
                    dataSource = new kendo.data.DataSource({
                        type: "json",
                        serverPaging: true,
                        serverSorting: true,
                        batch: true,
                        pageSize: 20,
                        serverFiltering:true,
                        transport: {
                            read:  {
                                url: DataHost + "/admin/read",
                                type: "post"
                            },
                            update: {
                                url: DataHost + "/admin/save",
                                type: "post",
                                complete: function(e) {
                                            $("#grid").data("kendoGrid").dataSource.read();
                                    }
                            },
                             destroy: {
                                url: DataHost + "/admin/delete",
                                type: "post"
                            },
                            create: {
                                url:DataHost + "/admin/save",
                                type: "post",
                                complete: function(e) {
                                            $("#grid").data("kendoGrid").dataSource.read();
                                    }
                            },
                            parameterMap:function(data, type){
                                if((type == 'update' || type == 'create') && Array.isArray(data.models[0].roles)){
                                    data.models[0].roles = JSON.stringify(data.models[0].roles)
                                }
                               return data
                           }
                        },
                        schema: {
                            total: "Total",
                            data: "Data",
                            parse:function(data){
                                var listData = data.Data;
                                if(Array.isArray(listData)){
                                    listData.map(function(obj){
                                        obj.roles = JSON.stringify(obj.roles)
                                        return obj
                                    })
                                }
                                return data
                            },
                            model: {
                                id:"Id",
                                fields: {
                                    "Id": { editable: false, type:'number' },
                                    "admin": { editable: true, type:'string'},
                                    "password": { editable: true, type:'string'},
                                    "avatar": { editable: true, type:'string'},
                                    "tips":{editable: true, type:'string'},
                                    "isShow":{editable: true, type:'string'},
                                    "updateTime": {editable: true, type: "date" },
                                    "roles":{ editable: true, type:'Array'},
                                    "writeTime": {editable: true, type: "date",template: "#= kendo.toString(dateCreated,'yyyy/MM/dd/ HH:mm:ss') #" }
                                    /*"code1":{editable: true, type:'string'},
                                    "code2":{editable: true, type:'string'},
                                    "code3":{editable: true, type:'string'},
                                    "code4":{editable: true, type:'string'}*/
                                }
                            }
                        }
                    });


                $("#grid").kendoGrid({
                    dataSource: dataSource,
                    pageable: true,
                    toolbar: window.toolbarAry,
                    columns: [
                        {
                            field:'Id',
                            title:'管理员id',
                            hidden:false
                        },
                        {
                            field: "admin",
                            title: "管理员"
                        },
                        {
                            field: "password",
                            title: "密码",
                            hidden:true
                        },
                        {
                            field: "avatar",
                            title: "头像",
                            template: "<img src='#=avatar#' width=50 height=50/>"
                        },
                        {
                            field: "tips",
                            title: "备注"
                        },
                        {
                            field: "roles",
                            title: "包含角色",
                            hidden:true
                        },
                        {
                            field: "isShow",
                            title: "是否启用",
                            values:window.is_show_array
                        },
                        {
                            field: "updateTime",
                            title: "更新日期",
                            format: "{0: yyyy-MM-dd HH:mm:ss}"
                        },
                        {
                            field: "writeTime",
                            title: "写入日期",
                            format: "{0: yyyy-MM-dd HH:mm:ss}"
                        },
                        /*{
                            field:'code1',
                            title:'备用',
                            hidden:true
                        },
                        {
                            field:'code2',
                            title:'备用',
                            hidden:true
                        },
                        {
                            field:'code3',
                            title:'备用',
                            hidden:true
                        },
                            {
                            field:'code4',
                            title:'备用',
                            hidden:true
                        },*/
                        { command: window.commandAry, title: "&nbsp;", width: "160px" }],
                    editable: {
                        confirmation:'确定删除吗？',
                        mode:"popup",
                        template: kendo.template($("#popup_editor").html()),
                        window : {
                                title: "添加/修改",
                                width:800
                            }
                        },
                    edit:function(e){
                            $('.k-window-content').addClass('w-800-content');
                            $('.k-edit-form-container').addClass('w-800-content');

                            window.dropdown_init($('#isShow_inp'), window.is_show_array)


                            multiUpload($("#upload_file"), $('#appPicture_inp'), 1)
                            $("#intro").kendoEditor(window.kendo_edit_option);

                            $('#writeTime').kendoDateTimePicker();
                            $('#updateTime').kendoDateTimePicker();


                            var authListData =  JSON.parse($('#roles').val()|| '[]')
                            var multiVal = []
                            authListData.forEach(function(authObj){
                                multiVal.push(authObj.Id)
                            })
                            $("#roles_inp").kendoMultiSelect({
                                dataTextField: "roleName",
                                dataValueField: "Id",
                                dataSource: window.allRoleList
                            })
                            var multiselect = $("#roles_inp").data("kendoMultiSelect");
                            multiselect.value(multiVal);
                            $("#roles_inp").change();
                            window.fixSelect()
                    },
                   filterable:window.filter_obj
                });
      });



</script>








{% include 'manager/inc/foot.html' %}
