{% include 'manager/inc/head.html' %}
{% include 'manager/inc/top.html' %}
{% include 'manager/inc/left.html' %}


<div id="grid"></div>

<script>
 $(function () {

                window.commandAry = [
                        { name: "edit", text: {edit: "编辑", update: "确定",  cancel: "取消"} }
                ]

                var DataHost = window.DataHost,
                    dataSource = new kendo.data.DataSource({
                        type: "json",
                        serverPaging: true,
                        serverSorting: true,
                        batch: true,
                        pageSize: 20,
                        serverFiltering:true,
                        transport: {
                            read:  {
                                url: DataHost + "/app/read",
                                type: "post"
                            },
                            update: {
                                url: DataHost + "/app/save",
                                type: "post",
                                complete: function(e) {
                                            $("#grid").data("kendoGrid").dataSource.read();
                                    }
                            },
                             destroy: {
                                url: DataHost + "/app/delete",
                                type: "post"
                            },
                            create: {
                                url:DataHost + "/app/save",
                                type: "post",
                                complete: function(e) {
                                            $("#grid").data("kendoGrid").dataSource.read();
                                    }
                            }
                        },
                        schema: {
                            total: "Total",
                            data: "Data",
                            parse:function(data){
                                console.log(data)
                                return data
                            },
                            model: {
                                id:"Id",
                                fields: {
                                    "Id": { editable: false, type:'number' },
                                    "appEname": { editable: true, type:'string'},
                                    "intro": { editable: true, type:'string'},
                                    "appleVersion": { editable: true, type:'string'},
                                    "androidVersion":{editable: true, type:'string'},
                                    "androidVersion2":{editable: true, type:'string'},
                                    "forceUpdate":{editable: true, type:'string'},
                                    "iosUpdateUrl":{editable: true, type:'string'},
                                    "androidUpdateUrl":{editable: true, type:'string'},
                                    "coverImg":{editable: true, type:'string'},
                                    "weiboUrl":{editable: true, type:'string'},
                                    "weixinUrl":{editable: true, type:'string'},
                                    "appFromeCode1":{editable: true, type:'string'},
                                    "appFromeCode2":{editable: true, type:'string'},
                                    "authHost":{editable: true, type:'string'},
                                    "UpdateTime": {editable: true, type: "date", template: "#= kendo.toString(dateCreated,'yyyy/MM/dd/ HH:mm:ss') #" },
                                    "WriteTime": {editable: true, type: "date", template: "#= kendo.toString(dateCreated,'yyyy/MM/dd/ HH:mm:ss') #" }
                                    /*"code1":{editable: true, type:'string'},
                                    "code2":{editable: true, type:'string'},
                                    */
                                }
                            }
                        }
                    });


                $("#grid").kendoGrid({
                    dataSource: dataSource,
                    pageable: true,
                    toolbar: window.toolbarAry,
                    columns: [
                        {
                            field:'Id',
                            title:'应用id'
                        },
                        {
                            field: "appEname",
                            title: "应用短名"
                        },
                        {
                            field: "intro",
                            title: "简介",
                            hidden:true
                        },
                        {
                            field: "appleVersion",
                            title: "苹果最新版本"
                        },
                         {
                            field: "androidVersion",
                            title: "安卓最新版本"
                        },
                        {
                            field: "androidVersion2",
                            title: "安卓新版本2"
                        },
                        {
                            field: "forceUpdate",
                            title: "强制更新",
                            values:window.is_on_off
                        },
                        {
                            field: "iosUpdateUrl",
                            title: "ios更新地址",
                            hidden:true
                        },
                        {
                            field: "androidUpdateUrl",
                            title: "安卓更新地址",
                            hidden:true
                        },
                        {
                            field: "coverImg",
                            title: "封面图片url",
                            hidden:true
                        },
                        {
                            field: "weiboUrl",
                            title: "微博推广地址",
                            hidden:true
                        },
                        {
                            field: "weixinUrl",
                            title: "微信推广地址",
                            hidden:true
                        },
                        {
                            field: "appFromeCode1",
                            title: "推广代码1",
                            hidden:true
                        },
                        {
                            field: "appFromeCode2",
                            title: "推广代码2",
                            hidden:true
                        },
                        {
                            field: "authHost",
                            title: "授权有效主机",
                            hidden:true
                        },
                        {
                            field: "UpdateTime",
                            title: "更新日期",
                            format: "{0: yyyy-MM-dd HH:mm:ss}",
                            hidden:true
                        },
                        {
                            field: "WriteTime",
                            title: "写入日期",
                            format: "{0: yyyy-MM-dd HH:mm:ss}"
                        },
                        /*{
                            field:'code1',
                            title:'备用',
                            hidden:true
                        },
                        {
                            field:'code2',
                            title:'备用',
                            hidden:true
                        },
                        {
                            field:'code3',
                            title:'备用',
                            hidden:true
                        },
                            {
                            field:'code4',
                            title:'备用',
                            hidden:true
                        },*/
                        { command: window.commandAry, title: "&nbsp;", width: "160px" }],
                    editable: {
                        confirmation:'确定删除吗？',
                        mode:"popup",
                        //template: kendo.template($("#popup_editor").html()),
                        window : {
                                title: "添加/修改",
                                width:600
                            }
                        },
                    edit:function(e){

                            setTimeout(function(){
                                window.putUploadToQiNiu('coverImg')
                            },200)
                            window.fixSelect()
                    },
                   filterable:window.filter_obj
                });
      });



</script>








{% include 'manager/inc/foot.html' %}
