{% include 'manager/inc/head.html' %}
{% include 'manager/inc/top.html' %}
{% include 'manager/inc/left.html' %}


<div id="grid"></div>

<script>
 $(function () {

                var DataHost = window.DataHost,
                    dataSource = new kendo.data.DataSource({
                        type: "json",
                        serverPaging: true,
                        serverSorting: true,
                        batch: true,
                        pageSize: 20,
                        serverFiltering:true,
                        transport: {
                            read:  {
                                url: DataHost + "/auth/read",
                                type: "post"
                            },
                            update: {
                                url: DataHost + "/auth/save",
                                type: "post",
                                complete: function(e) {
                                            $("#grid").data("kendoGrid").dataSource.read();
                                    }
                            },
                             destroy: {
                                url: DataHost + "/auth/delete",
                                type: "post"
                            },
                            create: {
                                url:DataHost + "/auth/save",
                                type: "post",
                                complete: function(e) {
                                            $("#grid").data("kendoGrid").dataSource.read();
                                    }
                            }
                        },
                        schema: {
                            total: "Total",
                            data: "Data",
                            parse:function(data){
                                console.log(data)
                                return data
                            },
                            model: {
                                id:"Id",
                                fields: {
                                    "Id": { editable: false, type:'number' },
                                    "authName": { editable: true, type:'string'},
                                    "groupName": { editable: true, type:'string'},
                                    "authUrl": { editable: true, type:'string'},
                                    "isMenu":{editable: true, type:'string'},
                                    "updateTime": {editable: true, type: "date", template: "#= kendo.toString(dateCreated,'yyyy/MM/dd/ HH:mm:ss') #" },
                                    "writeTime": {editable: true, type: "date", template: "#= kendo.toString(dateCreated,'yyyy/MM/dd/ HH:mm:ss') #" }
                                    /*"code1":{editable: true, type:'string'},
                                    "code2":{editable: true, type:'string'},
                                    */
                                }
                            }
                        }
                    });


                $("#grid").kendoGrid({
                    dataSource: dataSource,
                    pageable: true,
                    toolbar: window.toolbarAry,
                    columns: [
                        {
                            field:'Id',
                            title:'权限id',
                            hidden:false
                        },
                        {
                            field: "authName",
                            title: "权限名称"
                        },
                        {
                            field: "groupName",
                            title: "权限分组名"
                        },
                        {
                            field: "authUrl",
                            title: "权限url"
                        },
                        {
                            field: "isMenu",
                            title: "是否为菜单",
                            values:window.is_on_off
                        },
                        {
                            field: "updateTime",
                            title: "更新日期",
                            format: "{0: yyyy-MM-dd HH:mm:ss}"
                        },
                        {
                            field: "writeTime",
                            title: "写入日期",
                            format: "{0: yyyy-MM-dd HH:mm:ss}"
                        },
                        /*{
                            field:'code1',
                            title:'备用',
                            hidden:true
                        },
                        {
                            field:'code2',
                            title:'备用',
                            hidden:true
                        },
                        {
                            field:'code3',
                            title:'备用',
                            hidden:true
                        },
                            {
                            field:'code4',
                            title:'备用',
                            hidden:true
                        },*/
                        { command: window.commandAry, title: "&nbsp;", width: "160px" }],
                    editable: {
                        confirmation:'确定删除吗？',
                        mode:"popup",
                        //template: kendo.template($("#popup_editor").html()),
                        window : {
                                title: "添加/修改"
                                //width:800
                            }
                        },
                    edit:function(e){
                        window.fixSelect()
                    },
                   filterable:window.filter_obj
                });
      });



</script>








{% include 'manager/inc/foot.html' %}
