{% include 'manager/inc/head.html' %}
{% include 'manager/inc/top.html' %}
{% include 'manager/inc/left.html' %}



<div id="jstree_demo_div">
    <p id="cache_status" class="cache_status"></p>
    <div role="form">
      <div class="form-group">

        <select id="typeSelect">
            <option value="0">全部重建缓存</option>
            <option value="1">重建角色素材</option>
            <option value="2">重建大头贴素材</option>
            <option value="3">重建动态表情素材</option>
        </select>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">类型Id</div>
          <input class="form-control" id="groupid_inp" type="text" placeholder="输入groupid（多个groupid用英文逗号分割），全部创建缓存不需要输入">
        </div>
      </div>
      <div class="checkbox">
        <label>
          <input id="force" type="checkbox" value="1">强制更新
        </label>
      </div>
      <button type="button" id="rebuild_cache" class="btn btn-default">重建缓存</button>
    </div>

</div>

<script>
 $(function () {
     $("#typeSelect").kendoDropDownList();
     var q_type = '{{ type }}'
     var q_groupId = '{{ groupId }}'
     var status = {{ cacheStatus|safe }}

     var dropdownlist = $("#typeSelect").data("kendoDropDownList");
     dropdownlist.value(q_type)//.trigger('change')
     $('#groupid_inp').val(q_groupId)

     var setStatus = function(status){
         if(status.status == 1){
             status.status = '创建完毕'
         }
         else if(status.status == 2){
             status.status = '创建中'
         }
         else if(status.status == 3){
             status.status = '创建失败'
         }
         var statusStr = '上次重建缓存时间：<font>'+new Date((status.timestamp+'000')-0) + '</font><br/>'+
                         '缓存状态：<font>'+status.status + '</font><br/>'+
                         '缓存创建进度：<font>'+status.progess+'%</font><br/>'+
                         '缓存创建个数：：<font>'+status.deal+'</font>'
         $('#cache_status').html(statusStr)
     }
     setStatus(status)

     var getProgess = function getProgess(){
        setTimeout(function(){

             $.get('/cache/genprogress', {r:Math.random()}, function(d){
                     if(d.code == 200 && (d.result.status == 2 || d.result.status == '缓存未创建') && !window.loopStop){
                        window.loopProgess = setTimeout(function(){
                           getProgess()
                        }, 1000)
                     }
                    setStatus(d.result)
             },'json')
         }, 1000)
     }


     $('#rebuild_cache').click(function(){
         var type = $("#typeSelect").val()
         var groupId = $('#groupid_inp').val()
         var force = $('#force').is(':checked') ? 1 : 0

         window.loading()
         window.loopStop = false
         if(type == '0'){
             $.get('/cache/genall', {r:Math.random(),force:force}, function(d){
                 alert(d.result)
                 getProgess()
                 clearTimeout(window.loopProgess)
                 window.loopStop = true
                 window.loading()

             },'json')
             getProgess()
         }
         else{
            if(groupId == ''){
                alert('请输入素材分组groupid')
                return false;
            }
            $.get('/cache/gengroup', {r:Math.random(),force:force, type:type, groupId:groupId}, function(d){
                 alert(d.result)
                 window.loading()
             },'json')
             getProgess()
         }
         return false;
     })


 })

</script>




{% include 'manager/inc/foot.html' %}
