{% include 'manager/inc/head.html' %}
{% include 'manager/inc/top.html' %}
{% include 'manager/inc/left.html' %}


<div id="grid"></div>

<script>
 $(function () {
                window.allAppJson = {{ allAppJson|safe }}

                var DataHost = window.DataHost,
                    dataSource = new kendo.data.DataSource({
                        type: "json",
                        serverPaging: true,
                        serverSorting: true,
                        batch: true,
                        pageSize: 20,
                        serverFiltering:true,
                        transport: {
                            read:  {
                                url: DataHost + "/facepplog/read",
                                type: "post"
                            },
                            update: {
                                url: DataHost + "/facepplog/save",
                                type: "post",
                                complete: function(e) {
                                    $("#grid").data("kendoGrid").dataSource.read();
                                }
                            },
                             destroy: {
                                url: DataHost + "/facepplog/delete",
                                type: "post"
                            },
                            create: {
                                url:DataHost + "/facepplog/save",
                                type: "post",
                                complete: function(e) {
                                            $("#grid").data("kendoGrid").dataSource.read();
                                    }
                            }
                        },
                        schema: {
                            total: "Total",
                            data: "Data",
                            parse:function(data){
                                console.log(data)
                                return data
                            },
                            model: {
                                id:"Id",
                                fields: {
                                    "Id": { editable: false, type:'number' },
                                    "appId": { editable: true, type:'number'},
                                    "deviceAppId": { editable: true, type:'string'},
                                    "isMyGroup": { editable: true, type:'string'},
                                    "confidence":{editable: true, type:'string'},
                                    "facePPReturn":{editable: true, type:'string'},
                                    "ip":{editable: true, type:'string'},
                                    "uploadImgUrl":{editable: true, type:'string'},
                                    "logIntro":{editable: true, type:'string'},
                                    "apiFaceStarId":{editable: true, type:'number'},
                                    //"code1":{editable: true, type:'string'},
                                    //"code2":{editable: true, type:'string'},
                                    "WriteTime": {editable: true, type: "date", template: "#= kendo.toString(dateCreated,'yyyy/MM/dd/ HH:mm:ss') #" }
                                }
                            }
                        }
                    });


                $("#grid").kendoGrid({
                    dataSource: dataSource,
                    pageable: true,
                    toolbar: window.toolbarAry,
                    columns: [
                        {
                            field:'Id',
                            title:'流水id',
                            hidden:true
                        },
                        {
                            field: "appId",
                            title: "所属应用Id",
                            values:window.allAppJson
                        },
                        {
                            field: "deviceAppId",
                            title: "设备appid",
                            hidden:true
                        },
                        {
                            field: "isMyGroup",
                            title: "使用本地分组",
                            hidden:true
                        },
                         {
                            field: "confidence",
                            title: "相似度"
                        },
                        {
                            field: "facePPReturn",
                            title: "face++返回",
                            hidden:true
                        },
                        {
                            field: "ip",
                            title: "ip地址"
                        },
                        {
                            field: "uploadImgUrl",
                            title: "用户上传图片",
                            template:"<img src='#=uploadImgUrl#' width=50 height=50/>"
                        },
                        {
                            field: "logIntro",
                            title: "日志备注",
                            hidden:true
                        },
                        {
                            field: "apiFaceStarId",
                            title: "所属明星Id(外键)"
                        },
                        /*{
                            field: "code1",
                            title: "备用",
                            hidden:true
                        },
                        {
                            field: "code2",
                            title: "备用",
                            hidden:true
                        },*/
                        {
                            field: "WriteTime",
                            title: "写入日期",
                            format: "{0: yyyy-MM-dd HH:mm:ss}"
                        },
                        { command: window.commandAry, title: "&nbsp;", width: "160px" }],
                    editable: {
                        confirmation:'确定删除吗？',
                        mode:"popup",
                        //template: kendo.template($("#popup_editor").html()),
                        window : {
                                title: "添加/修改",
                                width:600
                            }
                        },
                    edit:function(e){
                            window.fixSelect()
                    },
                   filterable:window.filter_obj
                });
      });

</script>








{% include 'manager/inc/foot.html' %}
