{% include 'manager/inc/head.html' %}
{% include 'manager/inc/top.html' %}
{% include 'manager/inc/left.html' %}

<div id="grid"></div>

<script>
 $(function () {

                window.allGroupjson = {{ allGroupjson|safe }};
                window.allLocaleENameJson = {{ allLocaleENameJson|safe }}

                var DataHost = window.DataHost,
                    dataSource = new kendo.data.DataSource({
                        type: "json",
                        serverPaging: true,
                        serverSorting: true,
                        batch: true,
                        pageSize: 20,
                        serverFiltering:true,
                        {% if groupId != '' %}
                        filter: { field: "Id", operator: "eq", value:{{ groupId }}  },
                        {% endif %}
                        transport: {
                            read:  {
                                url: DataHost + "/facialgroup/read",
                                type: "post"
                            },
                            update: {
                                url: DataHost + "/facialgroup/save",
                                type: "post",
                                complete: function(e) {
                                            $("#grid").data("kendoGrid").dataSource.read();
                                    }
                            },
                             destroy: {
                                url: DataHost + "/facialgroup/delete",
                                type: "post",
                                complete: function(e) {
                                        if(e.status != 200){
                                            alert(e.responseText)
                                        }
                                        else{
                                            location.reload()
                                        }
                                }
                            },
                            create: {
                                url:DataHost + "/facialgroup/save",
                                type: "post",
                                complete: function(e) {
                                        if(e.status != 200){
                                            alert(e.responseText)
                                        }
                                        else{
                                            location.reload()
                                        }
                                }
                           }
                        },
                        schema: {
                            total: "Total",
                            data: "Data",
                            parse:function(data){
                                console.log(data)
                                return data
                            },
                            model: {
                                id:"Id",
                                fields: {
                                    "Id": { editable: false, type:'number' },
                                    "name": { editable: true, type:'string'},
                                    "ename": { editable: true, type:'string'},
                                    "intro": { editable: true, type:'string'},
                                    "shortIntro": { editable: true, type:'string'},
                                    "iconUrl":{editable: true, type:'string'},
                                    "iconUrl2":{editable: true, type:'string'},
                                    "sort":{editable: true, type:'number'},
                                    "gender":{editable: true, type:'number'},
                                    "parentGroupId":{editable: true, type:'number'},
                                    "parentGroupIdList":{editable: true, type:'string'},
                                    "customKeyValueJson":{editable: true, type:'string', validation: {
                                                required: true,
                                                validation: window.checkDataSource
                                            }},
                                    "customTagsJson":{editable: true, type:'string',validation: {
                                                required: true,
                                                validation: window.checkDataSource
                                            }},
                                    "autoVersion":{editable: true, type:'number'},
                                    "isEnable":{editable: true, type:'string'},
                                    "isTest": { editable: true, type:'string'},
                                    "type":{editable:true, type:"number"},
                                    "localeEName":{editable: true, type:'string'},
                                    "UpdateTime": {editable: true, type: "date", template: "#= kendo.toString(dateCreated,'yyyy/MM/dd/ HH:mm:ss') #" },
                                    "WriteTime": {editable: true, type: "date", template: "#= kendo.toString(dateCreated,'yyyy/MM/dd/ HH:mm:ss') #" }
                                    /*"code1":{editable: true, type:'string'},
                                    "code2":{editable: true, type:'string'},
                                    */
                                }
                            }
                        }
                    });


                $("#grid").kendoGrid({
                    dataSource: dataSource,
                    pageable: true,
                    toolbar: window.toolbarAry,
                    detailInit: detailInit,
                    {% if groupId != '' %}
                        dataBound: function() {
                            this.expandRow(this.tbody.find("tr.k-master-row"));
                        },
                    {% endif %}
                    columns: [
                        {
                            field:'Id',
                            title:'表情素材分组id'
                        },
                        {
                            field: "name",
                            title: "名称"
                        },
                        {
                            field: "ename",
                            title: "短名称"
                        },
                        {
                            field: "intro",
                            title: "简介",
                            hidden:true
                        },
                        {
                            field: "shortIntro",
                            title: "简短介绍",
                            hidden:true
                        },
                        {
                            field: "localeEName",
                            title: "所属国家",
                            values:window.allLocaleENameJson
                        },
                        {
                            field: "iconUrl",
                            title: "图标地址",
                            template: "<img src='#=iconUrl#' width=50 height=50/>",
                            hidden:true
                        },
                        {
                            field: "iconUrl2",
                            title: "图标地址2",
                            template: "<img src='#=iconUrl2#' width=50 height=50/>",
                            hidden:true
                        },
                        {
                            field: "sort",
                            title: "排序",
                            hidden:true
                        },
                        {
                            field: "gender",
                            title: "性别",
                            values:window.gender_material
                        },
                        {
                            field: "parentGroupId",
                            title: "父分组id",
                            values:window.allGroupjson
                        },
                         {
                            field: "parentGroupIdList",
                            title: "父分组id数组",
                            hidden:true
                        },
                        {
                            field: "customKeyValueJson",
                            title: "自定义kv（json）",
                            hidden:true
                        },
                        {
                            field: "customTagsJson",
                            title: "自定义tags（json）",
                            hidden:true
                        },
                        {
                            field: "autoVersion",
                            title: "分组自动版本"
                        },
                        {
                            field: "isEnable",
                            title: "是否启用",
                            values:window.is_on_off
                        },
                        {
                            field: "isTest",
                            title: "是否测试",
                            values:window.is_on_off
                        },
                            {
                            field: "type",
                            title: "类型",
                            values:window.facial_group_type
                        },
                        {
                            field: "UpdateTime",
                            title: "更新日期",
                            format: "{0: yyyy-MM-dd HH:mm:ss}",
                            hidden:true
                        },
                        {
                            field: "WriteTime",
                            title: "写入日期",
                            format: "{0: yyyy-MM-dd HH:mm:ss}",
                            hidden:true
                        },
                        /*{
                            field:'code1',
                            title:'备用',
                            hidden:true
                        },
                        {
                            field:'code2',
                            title:'备用',
                            hidden:true
                        },*/
                        { command: window.commandAry, title: "&nbsp;", width: "160px" }],
                    editable: {
                        confirmation:'确定删除吗？',
                        mode:"popup",
                        //template: kendo.template($("#popup_editor").html()),
                        window : {
                                title: "添加/修改",
                                width:600
                            }
                        },
                    edit:function(e){
                            window.fixSelect()
                            setTimeout(function(){
                                $('input[name="parentGroupIdList"]').attr('placeholder', '无需输入，自动生成').change()
                                $('input[name="autoVersion"]').attr('placeholder', '无需输入，自动生成').change()
                                window.putUploadToQiNiu('iconUrl')
                                window.putUploadToQiNiu('iconUrl2')
                            },200)
                    },
                   filterable:window.filter_obj
                });
      });


function detailInit(e) {

    var cellobj = $("<div/>").appendTo(e.detailCell)
    var parentId = e.data.Id
    var dataSource2 = new kendo.data.DataSource({
        type: "json",
        serverPaging: true,
        serverSorting: true,
        batch: true,
        pageSize: 10,
        serverFiltering:true,

        {% if sourceId != '' %}
            filter: [{ field: "groupId", operator: "eq", value:parentId  }, { field: "Id", operator: "eq", value:{{ sourceId }} }],
        {% else %}
            filter: { field: "groupId", operator: "eq", value:parentId  },
        {% endif %}

        transport: {
                read:  {
                    url: DataHost + "/facial/read",
                    type: "post",
                    complete:function(e){
                       {% if sourceId != '' %}
                           setTimeout(function(){
                               cellobj.data("kendoGrid").editRow(cellobj.find("tr:eq(1)"));
                           },10)
                       {% endif %}
                    }
                },
                update: {
                    url: DataHost + "/facial/save",
                    type: "post",
                    complete: function(e) {
                        if(e.status != 200){
                            alert(e.responseText)
                        }
                        else{
                            cellobj.data("kendoGrid").dataSource.read();
                        }
                    }
                },
                destroy: {
                    url: DataHost + "/facial/delete",
                    type: "post"
                },
                create: {
                    url: DataHost + "/facial/save",
                     type: "post",
                     complete: function(e) {
                        if(e.status != 200){
                            alert(e.responseText)
                        }
                        else{
                            cellobj.data("kendoGrid").dataSource.read();
                        }
                     }
                }
        },
        schema: {
                total: "Total",
                data: "Data",
                model: {
                    id:"Id",
                        fields: {
                            "Id": { editable: false, type:'number' },
                            "ename": { editable: true, type:'string' },
                            "name": { editable: true, type:'string' },
                            "intro": { editable: true, type:'string'},
                            "imgUrl1": { editable: true, type:'string'},
                            "imgUrl2": { editable: true, type:'string' },
                            "imgUrl3": { editable: true, type:'string' },
                            "imgUrl4": { editable: true, type:'string'},
                            "imgUrl5": { editable: true, type:'string'},
                            "animation": { editable: true, type:'string'},
                            "customKeyValueJson": { editable: true, type:'string',validation: {
                                                required: true,
                                                validation: window.checkDataSource
                                            } },
                            "customTagsJson": { editable: true, type:'string',validation: {
                                                required: true,
                                                validation: window.checkDataSource
                                            } },
                            "isEnable": { editable: true, type:'string'},


                            "sort": { editable: true, type:'number'},
                            "groupId":{ editable: true, type:'number'},
                            "code1": { editable: true, type:'string' },
                            "code2": { editable: true, type:'string' },
                            "UpdateTime": {editable: true, type: "date", template: "#= kendo.toString(dateCreated,'yyyy/MM/dd/ HH:mm:ss') #" },
                            "WriteTime": {editable: true, type: "date", template: "#= kendo.toString(dateCreated,'yyyy/MM/dd/ HH:mm:ss') #" }
                        }
                }
        }
    });

    cellobj.kendoGrid({
        dataSource:dataSource2,
        scrollable: false,
        sortable: true,
        pageable: true,
        toolbar:window.toolbarAry,
        columns: [
                    {
                        field:'Id',
                        title:'关联Id'
                    },
                    {
                        field:'groupId',
                        title:'分组id'
                    },
                    {
                        field:'ename',
                        title:'短名称'
                    },
                    {
                        field: "name",
                        title: "名称"
                    },
                    {
                        field: "intro",
                        title: "简介",
                        hidden:true
                    },
                    {
                        field:'imgUrl1',
                        title:'front图片',
                        template: "<img src='#=imgUrl1#' width=50 height=50/>"
                    },
                    {
                        field: "imgUrl2",
                        title: "body图片",
                        template: "<img src='#=imgUrl2#' width=50 height=50/>",
                        hidden:true
                    },
                    {
                        field: "imgUrl3",
                        title: "back图片",
                        template: "<img src='#=imgUrl3#' width=50 height=50/>",
                        hidden:true
                    },
                    {
                        field: "imgUrl4",
                        title: "静态图片4",
                        template: "<img src='#=imgUrl4#' width=50 height=50/>",
                        hidden:true
                    },
                    {
                        field: "imgUrl5",
                        title: "静态图片5",
                        template: "<img src='#=imgUrl5#' width=50 height=50/>",
                        hidden:true
                    },
                    {
                        field: "animation",
                        title: "是否动画",
                        values:window.is_on_off
                    },
                    {
                        field: "customKeyValueJson",
                        title: "自定义kv（json）",
                        hidden:true
                    },
                    {
                        field: "customTagsJson",
                        title: "自定义tags（json）",
                        hidden:true
                    },
                    {
                        field: "isEnable",
                        title: "是否启用",
                        values:window.is_on_off
                    },
                    {
                        field: "sort",
                        title: "排序",
                        hidden:true
                    },

                    {
                        field: "cod1",
                        title: "备用1",
                        hidden:true
                    },
                    {
                        field: "cod2",
                        title: "备用2",
                        hidden:true
                    },
                    {
                        field: "UpdateTime",
                        title: "更新日期",
                        format: "{0: yyyy-MM-dd HH:mm:ss}",
                        hidden:true
                    },
                    {
                        field: "WriteTime",
                        title: "写入日期",
                        format: "{0: yyyy-MM-dd HH:mm:ss}",
                        hidden:true
                    },
                    { command: commandAry, title: "&nbsp;", width: "160px" }
           ],
            filterable:false,
            editable: {
                    confirmation:'确定删除吗？',
                    mode:"popup",
                    window : {
                            title: "添加/修改",
                            width:600
                        }
                    },
                edit:function(e){
                        setTimeout(function(){
                            $('input[name="groupId"]').val(parentId).focus().change().blur()
                            window.putUploadToQiNiu('imgUrl1')
                            window.putUploadToQiNiu('imgUrl2')
                            window.putUploadToQiNiu('imgUrl3')
                            window.putUploadToQiNiu('imgUrl4')
                            window.putUploadToQiNiu('imgUrl5')
                        },100)
                        window.fixSelect()
                },
                filterable:window.filter_obj
    });



}


</script>








{% include 'manager/inc/foot.html' %}
