{% include 'manager/inc/head.html' %}
{% include 'manager/inc/top.html' %}
{% include 'manager/inc/left.html' %}


<div id="grid"></div>

<script>

 window.ethnicitydbValues = [
     { text: "种族空背景", value: 0 },
     { text: "半兽人", value: 1 },
     { text: "史矛革", value: 2 },
     { text: "精灵", value: 3 },
     { text: "矮人", value: 4 }
 ]
 window.roleTypeValues = [
     { text: "种族空背景", value: 0 },
     { text: "半兽人", value: 1 },
     { text: "史矛革", value: 2 },
     { text: "矮人", value: 4 },
     { text: "精灵国民", value: 5 },
     { text: "精灵女王", value: 6 },
     { text: "精灵国王1", value: 7 },
     { text: "精灵国王2", value: 8 }

 ]


 $(function () {
                window.allAppJson = {{ allAppJson|safe }}

                var DataHost = window.DataHost,
                    dataSource = new kendo.data.DataSource({
                        type: "json",
                        serverPaging: true,
                        serverSorting: true,
                        batch: true,
                        pageSize: 20,
                        serverFiltering:true,
                        transport: {
                            read:  {
                                url: DataHost + "/hobitlog/read",
                                type: "post"
                            },
                            update: {
                                url: DataHost + "/hobitlog/save",
                                type: "post",
                                complete: function(e) {
                                    $("#grid").data("kendoGrid").dataSource.read();
                                }
                            },
                             destroy: {
                                url: DataHost + "/hobitlog/delete",
                                type: "post"
                            },
                            create: {
                                url:DataHost + "/hobitlog/save",
                                type: "post",
                                complete: function(e) {
                                            $("#grid").data("kendoGrid").dataSource.read();
                                    }
                            }
                        },
                        schema: {
                            total: "Total",
                            data: "Data",
                            parse:function(data){
                                console.log(data)
                                return data
                            },
                            model: {
                                id:"Id",
                                fields: {
                                    "Id": { editable: false, type:'number' },
                                    "appId": { editable: true, type:'number'},
                                    "deviceAppId": { editable: true, type:'string'},
                                    "ethnicitydb": { editable: true, type:'number'},
                                    "beatRate":{editable: true, type:'number'},
                                    "sourceJson":{editable: true, type:'string'},

                                    "actionRing":{editable: true, type:'string'},
                                    "roleType":{editable: true, type:'string'},
                                    "userUploadUrl":{editable: true, type:'string'},
                                    "faceResultUrl":{editable: true, type:'string'},
                                    "apiReturnJson":{editable: true, type:'string'},

                                    "ip":{editable: true, type:'string'},
                                    "logIntro":{editable: true, type:'string'},
                                    "agent":{editable: true, type:'string'},
                                    "code1":{editable: true, type:'string'},
                                    "code2":{editable: true, type:'string'},
                                    "WriteTime": {editable: true, type: "date", template: "#= kendo.toString(dateCreated,'yyyy/MM/dd/ HH:mm:ss') #" }
                                }
                            }
                        }
                    });


                $("#grid").kendoGrid({
                    dataSource: dataSource,
                    pageable: true,
                    toolbar: window.toolbarAry,
                    columns: [
                        {
                            field:'Id',
                            title:'流水id',
                            hidden:true
                        },
                        {
                            field: "appId",
                            title: "所属应用Id",
                            values:window.allAppJson
                        },
                        {
                            field: "deviceAppId",
                            title: "设备appid",
                            hidden:true
                        },
                        {
                            field: "ethnicitydb",
                            title: "种族",
                            values:window.ethnicitydbValues
                        },
                         {
                            field: "beatRate",
                            title: "击败率"
                        },
                        {
                            field: "sourceJson",
                            title: "原始数据json",
                            hidden:true
                        },
                        {
                            field: "actionRing",
                            title: "是否指环王",
                            values:window.is_num_on_off
                        },
                        {
                            field: "roleType",
                            title: "身份",
                             values:window.roleTypeValues
                        },
                        {
                            field: "apiReturnJson",
                            title: "接口数据json",
                            hidden:true
                        },
                        {
                            field: "userUploadUrl",
                            title: "用户图片",
                            template:"<img src='#=userUploadUrl#' width=50 height=50/>"
                        },
                        {
                            field: "faceResultUrl",
                            title: "生成图片",
                            template:"<img src='#=faceResultUrl#' width=50 height=50/>"
                        },
                        {
                            field: "ip",
                            title: "ip地址"
                        },

                        {
                            field: "logIntro",
                            title: "日志备注",
                            hidden:true
                        },
                        {
                            field: "agent",
                            title: "设备",
                            hidden:true
                        },
                        {
                            field: "code1",
                            title: "缩略图地址",
                            hidden:true
                        },
                        {
                            field: "code2",
                            title: "是否明星",
                            values:window.is_string_on_off
                        },
                        {
                            field: "WriteTime",
                            title: "写入日期",
                            format: "{0: yyyy-MM-dd HH:mm:ss}"
                        },
                        { command: window.commandAry, title: "&nbsp;", width: "160px" }],
                    editable: {
                        confirmation:'确定删除吗？',
                        mode:"popup",
                        //template: kendo.template($("#popup_editor").html()),
                        window : {
                                title: "添加/修改",
                                width:600
                            }
                        },
                    edit:function(e){
                            window.fixSelect()
                    },
                   filterable:window.filter_obj
                });
      });

</script>








{% include 'manager/inc/foot.html' %}
