{% include 'manager/inc/head.html' %}
{% include 'manager/inc/top.html' %}
{% include 'manager/inc/left.html' %}


<div id="grid"></div>

<script id="popup_editor" type="text/x-kendo-template">

            <div class="k-edit-label w-800-l">
                <label for="Id">角色Id</label>
            </div>
            <div data-container-for="Id" class="k-edit-field w-800-r"  data-bind="value:Id">
                <input type="text" class="k-input k-textbox w-50-inp" name="Id" data-bind="value:Id" readonly="readonly">
            </div>


            <div class="k-edit-label  w-800-l">
                <label for="roleName" >角色名</label>
            </div>
            <div data-container-for="roleName" class="k-edit-field w-800-r">
               <input type="text" id="roleName" class="k-input k-textbox w-50-inp" name="roleName" data-bind="value:roleName">
            </div>

            <div class="k-edit-label  w-800-l">
                <label for="roleTips" >角色名备注</label>
            </div>
            <div data-container-for="roleTips" class="k-edit-field w-800-r">
               <input type="text" class="k-input k-textbox" id="roleTips_inp" name="roleTips" data-bind="value:roleTips" >
            </div>


            <div class="k-edit-label  w-800-l">
                <label for="auths" >包括权限</label>
            </div>
            <div data-container-for="auths" class="k-edit-field w-800-r">
                <input type="text" class="k-input k-textbox w-50-inp" id="auths_inp" name="auths"  data-bind="value:auths" >
                <input type="hidden" id="auths" class="k-input k-textbox w-50-inp" data-bind="value:auths" >
                 <button id="setValue" class="k-button">全选</button>
                 <button id="setNo" class="k-button">全不选</button>
            </div>

            <div class="k-edit-label  w-800-l">
                <label for="updateTime">更新日期</label>
            </div>
            <div data-container-for="writeTime" class="k-edit-field w-800-r">
               <input type="text" id="updateTime" class="k-input k-textbox " name="updateTime" data-bind="value:updateTime" readonly="readonly">
            </div>

            <div class="k-edit-label  w-800-l">
                <label for="writeTime">创建日期</label>
            </div>
            <div data-container-for="writeTime" class="k-edit-field w-800-r">
               <input type="text" id="writeTime" class="k-input k-textbox " name="writeTime" data-bind="value:writeTime">
            </div>



        </script>








<script>
    window.allRoleList = []
    $.post('/auth/read', {skip:0, page:1, pageSize:99999}, function(d){
        window.allRoleList = d.Data

    }, 'json')

 $(function () {

                var DataHost = window.DataHost,
                    dataSource = new kendo.data.DataSource({
                        type: "json",
                        serverPaging: true,
                        serverSorting: true,
                        batch: true,
                        pageSize: 20,
                        serverFiltering:true,
                        transport: {
                            read:  {
                                url: DataHost + "/role/read",
                                type: "post",
                                complete: function(e) {
                                    }
                            },
                            update: {
                                url: DataHost + "/role/save",
                                type: "post",
                                complete: function(e) {
                                       var ds = $("#grid").data("kendoGrid").dataSource.data

                                       $("#grid").data("kendoGrid").dataSource.read();
                                    }
                            },
                             destroy: {
                                url: DataHost + "/role/delete",
                                type: "post"
                            },
                            create: {
                                url:DataHost + "/role/save",
                                type: "post",
                                complete: function(e) {
                                            $("#grid").data("kendoGrid").dataSource.read();
                                    }
                            },
                           parameterMap:function(data, type){
                                if(type == 'update' || type == 'create'){
                                    data.models[0].auths = JSON.stringify(data.models[0].auths)
                                }
                               return data
                           }
                        },
                        schema: {
                            total: "Total",
                            data: "Data",
                            parse:function(data){
                                var listData = data.Data;
                                if(Array.isArray(listData)){
                                    listData.map(function(obj){
                                        obj.auths = JSON.stringify(obj.auths)
                                        return obj
                                    })
                                }
                                return data
                            },
                            model: {
                                id:"Id",
                                fields: {
                                    "Id": { editable: false, type:'number' },
                                    "roleName": { editable: true, type:'string'},
                                    "roleTips": { editable: true, type:'string'},
                                    "auths":{ editable: true, type:'Array'},
                                    "updateTime": {editable: true, type: "date", template: "#= kendo.toString(dateCreated,'yyyy/MM/dd/ HH:mm:ss') #" },
                                    "writeTime": {editable: true, type: "date", template: "#= kendo.toString(dateCreated,'yyyy/MM/dd/ HH:mm:ss') #" }
                                    /*"code1":{editable: true, type:'string'},
                                    "code2":{editable: true, type:'string'},
                                    */
                                }
                            }
                        }
                    });


                $("#grid").kendoGrid({
                    dataSource: dataSource,
                    pageable: true,
                    toolbar: window.toolbarAry,
                    columns: [
                        {
                            field:'Id',
                            title:'角色id',
                            hidden:false
                        },
                        {
                            field: "roleName",
                            title: "角色名"
                        },
                        {
                            field: "roleTips",
                            title: "角色备注"
                        },
                        {
                            field: "auths",
                            title: "包含权限",
                            hidden:true
                        },
                        {
                            field: "updateTime",
                            title: "更新日期",
                            format: "{0: yyyy-MM-dd HH:mm:ss}"
                        },
                        {
                            field: "writeTime",
                            title: "写入日期",
                            format: "{0: yyyy-MM-dd HH:mm:ss}"
                        },
                        /*{
                            field:'code1',
                            title:'备用',
                            hidden:true
                        },
                        {
                            field:'code2',
                            title:'备用',
                            hidden:true
                        },
                        {
                            field:'code3',
                            title:'备用',
                            hidden:true
                        },
                            {
                            field:'code4',
                            title:'备用',
                            hidden:true
                        },*/
                        { command: window.commandAry, title: "&nbsp;", width: "160px" }],
                    editable: {
                        confirmation:'确定删除吗？',
                        mode:"popup",
                        template: kendo.template($("#popup_editor").html()),
                        window : {
                                title: "添加/修改",
                                width:800
                            }
                        },
                    edit:function(e){
                            $('.k-window-content').addClass('w-800-content');
                            $('.k-edit-form-container').addClass('w-800-content');

                            var authListData =  JSON.parse($('#auths').val()|| '[]')
                            var multiVal = []
                            authListData.forEach(function(authObj){
                                multiVal.push(authObj.Id)
                            })
                            $("#auths_inp").kendoMultiSelect({
                                dataTextField: "authName",
                                dataValueField: "Id",
                                dataSource: window.allRoleList
                            })
                            var multiselect = $("#auths_inp").data("kendoMultiSelect");
                            multiselect.value(multiVal);

                            setAllNoBtn($('#setValue'), $('#setNo'), $("#auths_inp"), window.allRoleList)
                            window.fixSelect()

                    },
                   filterable:window.filter_obj
                });
      });



</script>








{% include 'manager/inc/foot.html' %}
