{% include 'manager/inc/head.html' %}
{% include 'manager/inc/top.html' %}
{% include 'manager/inc/left.html' %}


<div id="grid"></div>

<script>
 $(function () {

                window.allAppJson = {{ allAppJson|safe }}
                var DataHost = window.DataHost,
                    dataSource = new kendo.data.DataSource({
                        type: "json",
                        serverPaging: true,
                        serverSorting: true,
                        batch: true,
                        pageSize: 20,
                        serverFiltering:true,
                        transport: {
                            read:  {
                                url: DataHost + "/sociallogin/read",
                                type: "post"
                            },
                            update: {
                                url: DataHost + "/sociallogin/save",
                                type: "post",
                                complete: function(e) {
                                            $("#grid").data("kendoGrid").dataSource.read();
                                    }
                            },
                             destroy: {
                                url: DataHost + "/sociallogin/delete",
                                type: "post"
                            },
                            create: {
                                url:DataHost + "/sociallogin/save",
                                type: "post",
                                complete: function(e) {
                                            $("#grid").data("kendoGrid").dataSource.read();
                                    }
                            }
                        },
                        schema: {
                            total: "Total",
                            data: "Data",
                            parse:function(data){
                                console.log(data)
                                return data
                            },
                            model: {
                                id:"Id",
                                fields: {
                                    "Id": { editable: false, type:'number' },
                                    "provider": { editable: true, type:'string'},
                                    "openId": { editable: true, type:'string'},
                                    "regIp": { editable: true, type:'string'},
                                    "avatar":{editable: true, type:'string'},
                                    "nickname":{editable: true, type:'string'},
                                    "accessToken":{editable: true, type:'string'},
                                    "refreshToken":{editable: true, type:'string'},
                                    "userId":{editable: true, type:'number'},
                                    "apiAppId":{editable: true, type:'number'},
                                    "UpdateTime": {editable: true, type: "date", template: "#= kendo.toString(dateCreated,'yyyy/MM/dd/ HH:mm:ss') #" },
                                    "WriteTime": {editable: true, type: "date", template: "#= kendo.toString(dateCreated,'yyyy/MM/dd/ HH:mm:ss') #" }
                                    /*"code1":{editable: true, type:'string'},
                                    "code2":{editable: true, type:'string'},
                                    */
                                }
                            }
                        }
                    });


                $("#grid").kendoGrid({
                    dataSource: dataSource,
                    pageable: true,
                    toolbar: window.toolbarAry,
                    columns: [
                        {
                            field:'Id',
                            title:'第三方登录id',
                            hidden:true
                        },
                        {
                            field: "provider",
                            title: "第三方平台",
                            values:window.social_provider
                        },
                        {
                            field: "openId",
                            title: "第三方id"
                        },
                         {
                            field: "regIp",
                            title: "第三方登录ip",
                            hidden:true
                        },
                        {
                            field: "avatar",
                            title: "第三方头像",
                            template: "<img src='#=avatar#' width=50 height=50/>"
                        },
                        {
                            field: "nickname",
                            title: "第三方昵称"
                        },
                        {
                            field: "accessToken",
                            title: "accessToken",
                            hidden:true
                        },
                        {
                            field: "refreshToken",
                            title: "refreshToken",
                            hidden:true
                        },
                        {
                            field: "userId",
                            title: "用户id"
                        },
                        {
                            field: "apiAppId",
                            title: "接入应用",
                            values:window.allAppJson
                        },
                        {
                            field: "UpdateTime",
                            title: "更新日期",
                            format: "{0: yyyy-MM-dd HH:mm:ss}",
                            hidden:true
                        },
                        {
                            field: "WriteTime",
                            title: "写入日期",
                            format: "{0: yyyy-MM-dd HH:mm:ss}"
                        },
                        /*{
                            field:'code1',
                            title:'备用',
                            hidden:true
                        },
                        {
                            field:'code2',
                            title:'备用',
                            hidden:true
                        },*/
                        { command: window.commandAry, title: "&nbsp;", width: "160px" }],
                    editable: {
                        confirmation:'确定删除吗？',
                        mode:"popup",
                        //template: kendo.template($("#popup_editor").html()),
                        window : {
                                title: "添加/修改",
                                width:600
                            }
                        },
                    edit:function(e){
                            window.fixSelect()
                    },
                   filterable:window.filter_obj
                });
      });



</script>








{% include 'manager/inc/foot.html' %}
