{% include 'inc/head.html' %}

<div class="container login-container">
    <h4>表情me用户登录</h4>

      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">手机或用户名</label>
        <div class="col-sm-10">
          <input id="login_loginName" type="text" class="form-control"  placeholder="手机或用户名" maxlength="50">
        </div>
      </div>

      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
        <div class="col-sm-10">
          <input id="login_password" type="password" class="form-control"  placeholder="密码" maxlength="50">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button id="login-submit" type="submit" class="btn btn-warning">立即登录</button>
          <a href="/page/{{ app_ename }}/reg?back_url={{ back_url }}">立即注册</a>
        </div>
      </div>



    <!-- Standard button -->
    <a href="/page/{{ app_ename }}/oauth/weibo" class="btn btn-default btn-danger">使用微博登录</a>
    <!-- Standard button -->
    <a href="/page/{{ app_ename }}/oauth/qq" class="btn btn-default btn-primary">使用qq登录</a>

</div>

<script type="text/javascript">

    var back_url = '{{ back_url }}'

    $(function(){
        $('#login-submit').click(function(){
            var loginVal = $.trim($('#login_loginName').val())
            var pwdVal = $.trim($('#login_password').val())
            if(!loginVal){
                alert('请填写用户名')
                return false
            }
            if(!pwdVal){
                alert('请填写密码')
                return false
            }
            var firseChar = loginVal[0]
            var qobj ={
                'password':pwdVal,
                'from1': $.cookie('from1'),
                'from2': $.cookie('from2'),
                '_csrf':'{{ _csrf }}'
            }
            if(parseInt(firseChar) == firseChar){
                qobj['cellphone'] = loginVal
            }
            else{
                qobj['username'] = loginVal
            }

            $.post('/page/{{ app_ename }}/api/login', qobj, function(d){
                    if(d.code != 200){
                        return alert(d.result)
                    }
                    location.href = addParam(back_url, 'logintoken', d.result.logintoken)
            }, 'json')

            return false
        })





    })

</script>

{% include 'inc/foot.html' %}