{% include 'inc/head.html' %}

<div class="container login-container">
    <h4><img src="{{ shareDict['img_url'] }}" /></h4>
    <h4>分享用户名：{{ shareDict['user_name'] }}</h4>
    <h4>还剩几次：{{ shareDict['share_count'] }}</h4>
    <h4>使用次数：{{ shareDict['used_count'] }}</h4>
    <h4>分享时间：{{ shareDict['write_time'] }}</h4>
    <h4>到期时间：{{ shareDict['share_expire'] }}</h4>
    <h4>是否需要密码：{{ shareDict['is_share_pwd'] }}</h4>


    <button  type="button" class="btn btn-warning">打开表情me</button>
    <button  type="button" class="btn btn-warning">立即下载表情me</button>
</div>

<script type="text/javascript">
$(function(){
    $.post('/v1/share/useshare/{{ shareToken }}', {
        logintoken:'{{ logintToken }}',
        from1:$.cookie('from1'),
        from2:$.cookie('from2')
    }, function(d){
        if(d.code != 200){
            return alert(d.result)
        }
        alert('恭喜您使用获得分享')
    }, 'json')
})
</script>

{% include 'inc/foot.html' %}