<!DOCTYPE>
<html>
<head>
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10"/>
<meta name="viewport" content="height=device-height,width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
<title>{{ title }}</title>
<link href="http://piccvote.qiniudn.com/dist/css/vendor/bootstrap.min.css" rel="stylesheet">
<link href="http://piccvote.qiniudn.com/dist/css/flat-ui-pro.css" rel="stylesheet">
<link href="http://piccvote.qiniudn.com/assets/css/docs.css" rel="stylesheet">
<link href="/static/page_skin/css/base.css" rel="stylesheet">

<script src="http://piccvote.qiniudn.com/dist/js/vendor/jquery.min.js" type="text/javascript"></script>
<script src="http://wzhfile.qiniudn.com/jquery.cookie.js"  type="text/javascript"></script>
<script src="http://wzzy2014skin.qiniudn.com/bootstrap/js/bootstrap.min.js"></script>
<script src="http://wzhfile.qiniudn.com/moment.js" type="text/javascript"></script>
<script src="http://piccvote.qiniudn.com/dist/js/flat-ui-pro.js"></script>
<script src="http://piccvote.qiniudn.com/assets/js/prettify.js"></script>
<script src="http://piccvote.qiniudn.com/assets/js/application.js"></script>
<script src="/static/page_skin/js/base.js"></script>



</head>
<body>

